#card1{
    display: inline-block;
    margin-left: 38px;
    margin-bottom: 25px;
    -webkit-box-shadow: -1px -1px 12px -1px rgba(168,161,168,1);
    -moz-box-shadow: -1px -1px 12px -1px rgba(168,161,168,1);
    box-shadow: -1px -1px 12px -1px rgba(168,161,168,1);
}
h3{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-thickness: 5px;
}
h6{
    margin-top: 30px;
    text-align: center;
}
#card-text{
    text-align: justify;
    font-size: 14px;
    font-weight: normal;
}
#card2{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 25px;
        
}
p{
    text-align: justify;
    font-weight: bold;
    font-size: 12px;
}
#card-img-top{
    height: 110px;
    margin-left: 8rem;
}
.text-age{
    font-weight: normal;
    color: seagreen;
    margin-top: 10px;
}
.card-img-top{
    height: 150px; 
    padding: 18px;
}
#butt{
    background-color: purple; 
    border-radius: 14px; 
    color: white; 
    font-size: 12px; 
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}