#card1{
    display: inline-block;
    margin-left: 38px;
    margin-bottom: 25px;
    -webkit-box-shadow: -1px -1px 12px -1px rgba(168,161,168,1);
    -moz-box-shadow: -1px -1px 12px -1px rgba(168,161,168,1);
    box-shadow: -1px -1px 12px -1px rgba(168,161,168,1);
}
h3{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-thickness: 5px;
}
h6{
    margin-top: 30px;
    text-align: center;
}
#card-text{
    text-align: justify;
    font-size: 14px;
    font-weight: normal;
}
#card2{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 25px;
        
}
p{
    text-align: justify;
    font-weight: bold;
    font-size: 12px;
}
#card-img-top{
    height: 110px;
    margin-left: 8rem;
}
.text-age{
    font-weight: normal;
    color: seagreen;
    margin-top: 10px;
}
.card-img-top{
    height: 150px; 
    padding: 18px;
}
#butt{
    background-color: purple; 
    border-radius: 14px; 
    color: white; 
    font-size: 12px; 
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.a1{
    font-weight: bolder;
    font-size: 220%;
}
.a2{
    font-weight: normal;
    font-size: 140%;
}
.hello2{
    display: flex;
    color: purple;
}
#btu{
    color:white;
    display: flex;
    justify-content: center;
    background-color: purple ;
    padding:3%;
    border: none;
    font-weight: bolder;
    font-size: 125%;
    height: 2%;
    width: 50%;
}
#btn-two{
    background-color: white;
    font-weight: normal;
    font-size: 120%;
    width:10%;
}
#btn-three{
    background-color: white;
    border: 1%;
    border-color: black;
    width: 8%;
    padding:1%;
    font-weight: bold;
    font-size: 125%;
}
#btn-four{
    background-color: purple;
    color: white;
    width:20%;
    padding:1%;
    font-size: 120%;
    font-weight: bold;
}
#btn-one{
    background-color: white;
    font-weight: normal;
    font-size:120%;
    width:10%
}